#companies {
    display: none;
}

#waiting {
    display: none;
}

#priceInput, #QtyInput,#QtyInput1  {
    width: 60px;
}

button[name='chooseItem'] {
    background: transparent;
    border: none;
}

#showForms {
    display: none;
}

.openform {
    display: none;
    z-index: 1;
}

#dataInfo {
    display: none;
}

.white {
    background: #fff;
}

#step2 {
    display: none;
}


#step3 {
    display: none;
}

#submit {
    display: none;
}

#back {
    display: none;
}







